{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "OverReact.createElement",
        "pragmaFrag": "'fragment'",
        "throwIfNamespace": false
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "components": "./src/components",
          "containers": "./src/containers",
          "overreact": "./src/core/overreact",
          "overdux": "./src/core/overdux",
          "modules": "./src/modules"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    }
  }
}
