.dashboard {
  background: url('../../assets/stages/bg-cozmo.jpg') no-repeat center;
  background-size: cover;
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  overflow-y: auto;
  animation-name: kenburns;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 30s;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100vw;
    height: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    @media (min-width: 728px) {
      background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    }
  }

  &__content {
    width: 100vw;
    height: auto;
    display: block;
    top: 0;
    left: 0;

    @media (min-width: 960px) {
      min-height: 100vh;
      height: auto;
    }
  }
}

@keyframes kenburns {
  0% {
    background-size: auto 120%;
  }
  26.5625% {
    background-size: auto 100%;
  }
  100% {
    background-size: auto 120%;
  }
  98.4375% {
    background-size: auto 121.17647059%;
  }
}
