.dashboard {
  background: url('../../assets/stages/bg-cozmo.jpg') no-repeat center;
  background-size: cover;
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  overflow-y: auto;
  animation-name: kenburns;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 30s;

  &__content {
    width: 100vw;
    height: auto;
    display: block;
    top: 0;
    left: 0;

    @media (min-width: 960px) {
      min-height: 100vh;
      height: auto;
    }
  }
}

@keyframes kenburns {
  0% {
    background-size: auto 120%;
  }
  26.5625% {
    background-size: auto 100%;
  }
  100% {
    background-size: auto 120%;
  }
  98.4375% {
    background-size: auto 121.17647059%;
  }
}
