.lessons {
  width: 100vw;
  height: 70vh;
  display: block;
  position: relative;
  background: linear-gradient(to top, #9087ff 70%, transparent 30%);
  padding: 0 30px;

  @media (max-width: 480px) {
    padding: 0 0 0 0;
  }

  @media (min-width: 960px) {
    height: auto;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    display: block;
    overflow-y: hidden;

    @media (min-width: 960px) {
      width: 980px;
      height: auto;
      overflow: initial;
      margin: 0 auto;
    }
  }

  &__slider {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;

    @media (min-width: 960px) {
      flex-wrap: wrap;
      padding-left: 20px;
    }
  }

  &__sliderPadding {
    width: 10px;
    height: 1px;
    display: block;

    div {
      width: 10px;
      height: 1px;
      display: block;
    }
  }

  &__item {
    display: block;
    width: 300px;
    margin-right: 20px;
    background: #ed6380;
    border: 8px solid #fff;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 1), 4px 4px 0 rgba(0, 0, 0, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    @media (min-width: 960px) {
      margin-bottom: 20px;
    }

    &:first-child {
      margin-left: 30px;

      @media (min-width: 960px) {
        margin-left: 0;
      }
    }

    &:hover {
      box-shadow: 8px 8px 0 rgba(0, 0, 0, 1), 6px 6px 0 rgba(0, 0, 0, 1);
    }

    &Image {
      width: 100%;
      display: flex;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    &Content {
      display: block;
      padding: 15px;
      text-transform: uppercase;

      & *:nth-child(1) {
        margin-top: 0;
      }

      small {
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        margin: 0 0 15px;
        font-size: 14px;
        font-weight: 300;
      }

      h2 {
        color: #f7a837;
        font-size: 28px;
        text-shadow: 1px 1px #000;
        margin: 15px 0;
      }

      button {
        width: 100%;
        line-height: 100%;
        height: 51px;
        font-size: 20px;
        border-radius: 6px;
        text-transform: uppercase;
        background: #eba69d;
        border: none;
        color: #345eaa;
      }
    }
  }
}
