* {
  box-sizing: border-box;

  &:after {
    box-sizing: border-box;
  }

  &:before {
    box-sizing: border-box;
  }
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #141f36;
}

body {
  margin: 0;
  position: relative;
  font-family: 'Titan One', cursive;
  -webkit-font-smoothing: antialiased;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

input[type='search'] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.backButton {
  margin: 0 auto;
  display: flex;
  outline: none;
  justify-content: center;
  align-items: center;
  width: auto;
  background-color: white;
  border-radius: 8px;
  border: 4px solid #212226;
  box-shadow: 4px 4px 0 0 #212226;
  height: 60px;
  padding: 20px 40px;
  margin-bottom: 20px;
  font-size: 22px;
  text-transform: uppercase;

  & i {
    font-size: 40px;
    margin-right: 10px;
  }

  @media (min-width: 960px) {
    font-size: 16px;
  }
}

.preload-images {
  height: 0;
  width: 0;
  background: url(../assets/stages/bg-cozmo.jpg) no-repeat -9999px -9999px,
    url(../assets/stages/bg-abstract-blue.jpg) no-repeat -9999px -9999px,
    url(../assets/stages/bg-abstract-light.jpg) no-repeat -9999px -9999px,
    url(../assets/stages/bg-abstract-purple.jpg) no-repeat -9999px -9999px,
    url(../assets/stages/bg-abstract-red.jpg) no-repeat -9999px -9999px,
    url(../assets/stages/bg-abstract-yellow.jpg) no-repeat -9999px -9999px,
    url(../assets/stages/bg-kubit-room.jpg) no-repeat -9999px -9999px,
    url(../assets/stages/bg-mars.jpg) no-repeat -9999px -9999px,
    url(../assets/stages/bg-pluto.jpg) no-repeat -9999px -9999px,
    url(../assets/stages/bg-space.jpg) no-repeat -9999px -9999px,
    url(../assets/stages/bg-venus.jpg) no-repeat -9999px -9999px,
    url(../assets/stages/bg-ship.png) no-repeat -9999px -9999px,
    url(../assets/items/foods/barbecue.svg) no-repeat -9999px -9999px,
    url(../assets/items/foods/carrots.svg) no-repeat -9999px -9999px,
    url(../assets/items/foods/eggs-bacon.svg) no-repeat -9999px -9999px,
    url(../assets/items/foods/eggs.svg) no-repeat -9999px -9999px,
    url(../assets/items/foods/fish.svg) no-repeat -9999px -9999px,
    url(../assets/items/foods/french-fries.svg) no-repeat -9999px -9999px,
    url(../assets/items/foods/hamburger.svg) no-repeat -9999px -9999px,
    url(../assets/items/foods/hotdog.svg) no-repeat -9999px -9999px,
    url(../assets/items/foods/pizza.svg) no-repeat -9999px -9999px,
    url(../assets/items/foods/salad.svg) no-repeat -9999px -9999px,
    url(../assets/items/foods/salmon.svg) no-repeat -9999px -9999px,
    url(../assets/items/foods/soup.svg) no-repeat -9999px -9999px,
    url(../assets/items/foods/spaghetti.svg) no-repeat -9999px -9999px,
    url(../assets/items/foods/steak.svg) no-repeat -9999px -9999px,
    url(../assets/items/foods/wrapper.svg) no-repeat -9999px -9999px,
    url(../assets/items/pets/alien-1.jpg) no-repeat -9999px -9999px,
    url(../assets/items/pets/alien-2.jpg) no-repeat -9999px -9999px,
    url(../assets/items/pets/cat-1.jpg) no-repeat -9999px -9999px,
    url(../assets/items/pets/cat-2.jpg) no-repeat -9999px -9999px,
    url(../assets/items/pets/dog-1.jpg) no-repeat -9999px -9999px,
    url(../assets/items/pets/dog-2.jpg) no-repeat -9999px -9999px,
    url(../assets/lessons/artes.png) no-repeat -9999px -9999px,
    url(../assets/lessons/ciencias.png) no-repeat -9999px -9999px,
    url(../assets/lessons/ingles.png) no-repeat -9999px -9999px,
    url(../assets/lessons/matematica.png) no-repeat -9999px -9999px,
    url(../assets/lessons/portugues.png) no-repeat -9999px -9999px,
    url(../assets/lessons/kubit-question.png) no-repeat -9999px -9999px,
    url(../assets/lessons/kubit-flying.png) no-repeat -9999px -9999px;
  }
