<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Kubit, O Robô</title>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#F44880">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

  <script async src="https://kit.fontawesome.com/ee3f382c60.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Titan+One&display=swap" rel="stylesheet">

  <style>
    .kubit-loading {
      color: #EF529D;
      text-shadow: 2px 2px #212226;
      font-size: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #141f36;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    .kubit-loading svg {
      max-height: 200px;
      margin-bottom: 20px;
    }
  </style>
</head>

<body>
  <div id="game-canvas"></div>
  <div class="kubit-loading">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 533.72 785.38"><defs><style>.cls-1{fill:#6ec6f0;}.cls-2{fill:#92d6f6;}.cls-3{fill:#e1f4fd;}.cls-4{fill:#bae6fb;}.cls-5{fill:#5db9e9;}.cls-6{fill:#58b8e8;}.cls-7{fill:#94d7f6;}.cls-8{fill:#fff;}.cls-9{fill:#5d76a1;}.cls-10{fill:#bde5ee;}.cls-11{fill:#98b1dc;}.cls-12{fill:#1e1c57;}.cls-13{fill:#272667;}.cls-14{fill:#33348a;}.cls-15{fill:#d3267a;}.cls-16{fill:#ef529d;}.cls-17{fill:#35378e;}.cls-18{fill:#6ccff3;}</style></defs><g><g id="Layer_3" data-name="Layer 3"><path class="cls-1" d="M285.12,553.62l11.28.6c-27.52-28.76-55.8-57.83-77.91-79.45q-6.37-.11-12.54-.31C226.53,496,255.71,524.91,285.12,553.62Z"/><path class="cls-2" d="M478.8,651.64l2.2-1.18c-6.55-19.58-14.2-42.32-22-65.25-1.21,1.15-2.42,2.28-3.65,3.38C463.54,610.83,471.72,632.76,478.8,651.64Z"/><path class="cls-1" d="M421.7,536c-14.3-34.07-28.86-68.26-41.69-97.63-36.19,21.92-81.91,36.33-139.61,36.56h-1.87c21.86,23.4,48.3,51.18,76.13,80.11C356.32,556,391.71,548.58,421.7,536Z"/><path class="cls-1" d="M173.5,472.81q-5.5-.39-10.82-.86c36,30.79,72.78,61.62,94.83,80l2.31.14C240.19,533.9,207.18,503.39,173.5,472.81Z"/><path class="cls-2" d="M397.69,661.81s-11.07-12-28.24-30.32c-1,.23-1.94.45-2.92.66C385.36,650.13,397.69,661.81,397.69,661.81Z"/><path class="cls-2" d="M446.63,595.88c-18.9,14.78-40,24.89-61.82,31.52C399.58,642.53,414,657.23,427.6,671A216.91,216.91,0,0,0,471,655.56C464,638.15,455.65,617.74,446.63,595.88Z"/><path class="cls-3" d="M520.73,761.9c-7.36-11.45-23.78-33.22-34.71-48q-5.25,2.45-11.19,4.66C505,748.62,523.77,766.62,520.73,761.9Z"/><path class="cls-4" d="M500.13,708.12l-.5-1.53-.07,0C499.93,707.61,500.13,708.12,500.13,708.12Z"/><path class="cls-1" d="M410,453.89c-2.19.61,9,34,24.16,76.45,1.69-.83,3.35-1.68,5-2.55C424.38,485.81,412.16,453.28,410,453.89Z"/><path class="cls-3" d="M492.8,711.36a5.7,5.7,0,0,0-.19-.73c-1,.54-2,1.07-3.09,1.6C491.77,713.94,493.24,714.23,492.8,711.36Z"/><path class="cls-1" d="M469.81,508.62c-4.94-25.2-15.19-77.05-25.53-126.85q-1.95,2.42-4,4.81c11.18,48.6,23.06,98.27,28.9,122.49Z"/><path class="cls-5" d="M415.3,260.7c-3,.45,10.38,62.24,25,125.88q2-2.4,4-4.81C431.34,319.41,418.26,260.27,415.3,260.7Z"/><path class="cls-5" d="M177.83,439.93c-3.34.25,8.47,14,28.12,34.53q6.17.19,12.54.31C196.94,453.69,181.24,439.68,177.83,439.93Z"/><path class="cls-5" d="M58.45,375.83c-3.93,2.22,49.24,49.1,104.23,96.12q5.31.46,10.82.86C118.89,423.25,62.5,373.54,58.45,375.83Z"/><path class="cls-4" d="M427.6,671c17.43,17.69,33.51,33.87,47.23,47.56q5.94-2.21,11.19-4.66c-6.84-9.23-11.54-15.71-10.51-15.2,1.78.89,9.48,10.07,14,13.51,1.05-.53,2.08-1.06,3.09-1.6-1.34-4.47-9.56-25.41-21.57-55.07A216.91,216.91,0,0,1,427.6,671Z"/><path class="cls-6" d="M285.12,553.62c29.82,29.1,59.87,58,81.41,78.53,1-.21,2-.43,2.92-.66-19.08-20.39-45.69-48.67-73.05-77.27Z"/><path class="cls-6" d="M259.82,552.12l-2.31-.14C270.17,562.55,278,569,278,569S271.12,562.61,259.82,552.12Z"/><path class="cls-6" d="M421.7,536c-30,12.59-65.38,20-107,19,23,24,47,48.69,70.15,72.37,21.83-6.63,42.92-16.74,61.82-31.52C438.7,576.68,430.25,556.36,421.7,536Z"/><path class="cls-4" d="M478.8,651.64c10.52,28,18.61,49.34,20.76,55l.07,0c-1.91-5.79-9.09-27.59-18.63-56.13Z"/><path class="cls-6" d="M472.86,524.24s-1.12-5.78-3.05-15.62l-.61.45C471.5,518.63,472.86,524.24,472.86,524.24Z"/><path class="cls-5" d="M380,438.36c-19.44-44.46-34.91-77.83-39.51-82.82-15.3-16.63-178.24,11.3-178.24,11.3s-1,11.91,20.61,45.23c5,7.66,26.15,31.27,55.66,62.85h1.87C298.1,474.69,343.82,460.28,380,438.36Z"/><path class="cls-6" d="M455.34,588.59c1.23-1.1,2.44-2.23,3.65-3.38-6.69-19.63-13.5-39.39-19.85-57.42-1.65.87-3.31,1.72-5,2.55C440.71,548.71,448,568.77,455.34,588.59Z"/><rect class="cls-7" x="336.51" y="640.52" width="24.61" height="26.6" rx="5.18"/><rect class="cls-7" x="498.12" y="647.51" width="24.61" height="26.6" rx="5.18"/><rect class="cls-7" x="350.47" y="575.68" width="24.61" height="26.6" rx="5.18"/><rect class="cls-7" x="501.11" y="730.31" width="24.61" height="26.6" rx="5.18"/><rect class="cls-7" x="421.27" y="692.4" width="12.67" height="13.69" rx="2.67"/><rect class="cls-7" x="467.18" y="528.26" width="12.67" height="13.69" rx="2.67"/><rect class="cls-7" x="477.81" y="610.26" width="12.67" height="13.69" rx="2.67"/><rect class="cls-7" x="425.93" y="610.26" width="12.67" height="13.69" rx="2.67"/><rect class="cls-7" x="451.22" y="693.87" width="12.67" height="13.69" rx="2.67"/><rect class="cls-7" x="470.82" y="731.97" width="12.67" height="13.69" rx="2.67"/><rect class="cls-7" x="521.05" y="771.68" width="12.67" height="13.69" rx="2.67"/><path class="cls-8" d="M153.73,336.21c6.22-13.4,33.43,22.09,36,27.3s-22.93,87-36.08,92.18S128.34,390.88,153.73,336.21Z"/><path class="cls-9" d="M153.65,455.69a3.68,3.68,0,0,1-3-.11c-6.15-9.47-4.24-76.73,18-116.81,9.36,7.87,19.58,21.64,21.1,24.74C192.3,368.72,166.8,450.51,153.65,455.69Z"/><path class="cls-10" d="M188.06,366.18c.26-1.91-5.66-12.49-16.5-24.79,8.45,8,16.8,19.35,18.17,22.12,2.34,4.75-18.64,73.16-32.34,89.12C168.26,435.5,179.85,406.43,188.06,366.18Z"/><path class="cls-8" d="M168.58,382.05c-4.71-46.7,37.28-70.78,91.69-74.64s100.63,14,105.34,60.65-33.93,104-88.34,107.86S173.29,428.75,168.58,382.05Z"/><path class="cls-11" d="M347.94,330.39c-5.18,21.49-30.33,45.14-101.62,50.71-43,3.37-65.91-3.83-77.54-14.4a64.68,64.68,0,0,0-.2,15.35c4.71,46.7,54.28,97.73,108.69,93.87s93.05-61.16,88.34-107.86C364,352.31,357.7,339.85,347.94,330.39Z"/><path class="cls-10" d="M192.7,406.7c-2.91-28.84,24.7-41,60-43.52s65,5.6,67.87,34.44-23.36,54.25-58.67,56.76S195.61,435.54,192.7,406.7Z"/><path class="cls-12" d="M192.61,405.8c-2.84-28.18,24.79-40.11,60.1-42.62s64.94,5.37,67.78,33.54S297,449.78,261.7,452.28,195.45,434,192.61,405.8Z"/><path class="cls-13" d="M198.49,404.27c-2.65-26.19,23-37.29,55.86-39.62s60.37,5,63,31.19-21.82,49.31-54.65,51.64S201.13,430.47,198.49,404.27Z"/><path class="cls-14" d="M314.27,384.71c-8.48-17.15-32.33-22-59.92-20.06-32.82,2.33-58.51,13.43-55.86,39.62a38.68,38.68,0,0,0,2.23,9.63A132.8,132.8,0,0,0,231,418.05C276.15,419.66,303.34,403.26,314.27,384.71Z"/><path class="cls-10" d="M275,470.68c-25.74,1.67-46.29-5.22-62.54-15.91,18.52,14.16,41.22,22.82,64.83,21.15,30.9-2.2,56.72-21.63,72.39-46.57C335.43,450,312.34,468.27,275,470.68Z"/><path class="cls-8" d="M350.49,328.54c-13.86-7.34-11.78,48.56-10.35,55.57s76.13,62.22,90,56.08S407,358.46,350.49,328.54Z"/><path class="cls-11" d="M343.45,331.74c-3,15.29,9.06,45.06,12.36,50.26,3.72,5.86,49.17,47.71,75.66,57.22a4,4,0,0,1-1.33,1c-13.87,6.14-88.56-49.06-90-56.08C339,378.65,337.52,343.53,343.45,331.74Z"/><path class="cls-10" d="M340.14,384.11a119.94,119.94,0,0,1-1-15.66c.84,7,2.15,15,3,16.2,2.9,4.16,46,40.55,76.77,52.89a49.9,49.9,0,0,0,10.18,3C412.91,443.84,341.55,391,340.14,384.11Z"/><path class="cls-15" d="M224.2,58.18S273.8-1,282.45,0s33.76,19.62,33.76,19.62,56.76-21.51,57-19-45.71,57.47-50.56,57.78-43.21-16.53-43.21-16.53S218,64.89,224.2,58.18Z"/><path class="cls-16" d="M316.21,19.63S291.1,1,282.45,0,224.2,58.18,224.2,58.18c1,.75,63.16-32.54,64.17-32.07s31.26,14.35,33.09,13.56S370.24,4.14,373.23.59C373-1.88,316.21,19.63,316.21,19.63Z"/><path class="cls-8" d="M391.22,253.48C391.22,356.81,303.64,357,195.61,357S0,356.81,0,253.48,87.58,66.37,195.61,66.37,391.22,150.14,391.22,253.48Z"/><path class="cls-11" d="M195.61,357c108,0,195.61-.14,195.61-103.47a179.09,179.09,0,0,0-1-18.77c-37.1,41.91-127,102.5-284.18,84.25-47.74-5.55-80.13-16.54-101.75-30.17C23.15,356.83,101.64,357,195.61,357Z"/><path class="cls-10" d="M347.82,231.4c0,88.56-74.3,88.68-166,88.68s-166-.12-166-88.68,74.3-127.48,166-127.48S347.82,142.85,347.82,231.4Z"/><path class="cls-12" d="M346.83,230.13c-4.56,87.67-78.87,87.79-170.52,87.79s-165.95-.12-161.4-87.79S95.77,103.92,187.42,103.92,351.38,142.46,346.83,230.13Z"/><path class="cls-13" d="M344.55,230.81C340.18,315,268.46,315.12,180,315.12S19.83,315,24.21,230.81s78-121.21,166.46-121.21S348.92,146.61,344.55,230.81Z"/><path class="cls-17" d="M343.37,204.71c-10-65.79-74-95.11-152.7-95.11-88.46,0-162.09,37-166.46,121.21a120.08,120.08,0,0,0,.38,18.6c14.71,19.41,42.69,35.23,92.4,41.17C237.63,305,310.2,250,343.37,204.71Z"/><path class="cls-18" d="M112.39,196.74C105,192,96.78,188.55,88.91,184.86q-9.78-4.59-19.61-9c-4.45-2-10.18,2.27-12,7.85-2,6.2.53,11.84,5,13.84q9.58,4.3,19.09,8.77l-.06,0q-11.77,3.78-23.58,7.43c-11.69,3.6-9,25.31,2.7,21.69,15-4.61,30-9.07,44.86-14.58,3-1.13,6.44-2.15,9-4.94C120.13,209.44,117.89,200.24,112.39,196.74Zm-10.47,19.84a1.32,1.32,0,0,0,.2.12C103.24,217.28,102.75,217.64,101.92,216.58Z"/><path class="cls-18" d="M218.27,215.41c2.16,2.82,5.62,3.9,8.69,5.08,14.95,5.74,30.31,10.44,45.56,15.3,11.94,3.81,19.1-17.79,7.19-21.58q-12-3.83-24-7.81l-.07,0Q266.81,202.09,278,198a12.73,12.73,0,0,0,8.11-13.71c-.83-5.6-6.17-9.95-11.36-8q-11.5,4.23-22.95,8.63c-9.23,3.55-18.74,6.86-27.7,11.45C217.47,199.69,213.23,208.82,218.27,215.41Z"/></g></g></svg>
    <div>Carregando...</div>
  </div>
</body>

</html>