<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Kubit, O Robô</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#333333">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
    <div id="game-canvas"></div>
</body>
</html>
