.screen-start {
  align-items: center;
  background: url('../../assets/stages/bg-abstract-red.jpg') no-repeat center;
  background-size: auto 120%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
  animation-name: kenburns;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 30s;
  
  &__content {
    position: relative;
    width: 100%;
  }

  &__logo {
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
    height: 120px;
  }

  #logo {
    position: absolute;
    width: 100%;
  }

  &__kubit {
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 290px;
    height: 320px;
    z-index: 1;
  }

  #kubit-intro {
    position: absolute;
    width: 100%;
  }

  &__options {
    font-size: 40px;
    text-transform: uppercase;
    padding: 20px 0;
    text-align: center;
    
    & a {
      text-decoration: none;
      color: white;
      text-align: center;
    }
  }
}

.screen-start__options span {
    position: relative;
    top: 5px;
    display: inline-block;
    animation: bounce .3s ease infinite alternate;
    font-size: 45px;
    color: #FDBF0F;
    text-shadow: 0 1px 0 #FC4A05,
                0 2px 0 #FC4A05,
                0 3px 0 #FC4A05,
                0 4px 0 #FC4A05,
                0 5px 0 #FC4A05,
                0 6px 0 transparent,
                0 7px 0 transparent,
                0 8px 0 transparent,
                0 9px 0 transparent,
                0 10px 10px rgba(0, 0, 0, .4);
}

.screen-start__options span:nth-child(2) { animation-delay: .1s; }
.screen-start__options span:nth-child(3) { animation-delay: .2s; }
.screen-start__options span:nth-child(4) { animation-delay: .3s; }
.screen-start__options span:nth-child(5) { animation-delay: .4s; }
.screen-start__options span:nth-child(6) { animation-delay: .5s; }
.screen-start__options span:nth-child(7) { animation-delay: .6s; }
.screen-start__options span:nth-child(8) { animation-delay: .7s; }

@keyframes bounce {
  100% {
    top: 0px;
  }
}

@keyframes kenburns {
  0% {
    background-size: auto 120%;
  }
  26.5625% {
    background-size: auto 100%;
  }
  100% {
    background-size: auto 120%;
  }
  98.4375% {
    background-size: auto 121.17647059%;
  }
}