.stages {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100%;

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &.stages--abstract-blue {
    background: url('../../assets/stages/bg-abstract-blue.jpg') no-repeat;
    background-size: cover;
    background-position: center;

    &:before {
      background: #09A4A9;
    }
  }

  &.stages--abstract-light {
    background: url('../../assets/stages/bg-abstract-light.jpg') no-repeat;
    background-size: cover;
    background-position: center;

    &:before {
      background: #09A4A9;
    }
  }

  &.stages--abstract-purple {
    background: url('../../assets/stages/bg-abstract-purple.jpg') no-repeat;
    background-size: cover;
    background-position: center;

    &:before {
      background: #09A4A9;
    }
  }

  &.stages--abstract-yellow {
    background: url('../../assets/stages/bg-abstract-yellow.jpg') no-repeat;
    background-size: cover;
    background-position: center;

    &:before {
      background: #09A4A9;
    }
  }

  &.stages--abstract-red {
    background: url('../../assets/stages/bg-abstract-red.jpg') no-repeat;
    background-size: cover;
    background-position: center;

    &:before {
      background: #09A4A9;
    }
  }

  &.stages--cozmo {
    background: url('../../assets/stages/bg-cozmo.jpg') no-repeat;
    background-size: cover;
    background-position: center;

    &:before {
      background: #09A4A9;
    }
  }

  &.stages--kubit-room {
    background: url('../../assets/stages/bg-kubit-room.jpg') no-repeat;
    background-size: cover;
    background-position: center;

    &:before {
      background: #09A4A9;
    }
  }

  &.stages--mars {
    background: url('../../assets/stages/bg-mars.jpg') no-repeat;
    background-size: cover;
    background-position: center;

    &:before {
      background: #09A4A9;
    }
  }

  &.stages--pluto {
    background: url('../../assets/stages/bg-pluto.jpg') no-repeat;
    background-size: cover;
    background-position: center;

    &:before {
      background: #09A4A9;
    }
  }

  &.stages--ship {
    background: url('../../assets/stages/bg-ship.png') no-repeat;
    background-position: center top;
    background-size: 100% auto;

    &:before {
      background: rgb(31,38,89);
      background: linear-gradient(222deg, rgba(31,38,89,1) 0%, rgba(20,31,54,1) 100%);
    }
  }

  &.stages--space {
    background: url('../../assets/stages/bg-space.jpg') no-repeat;
    background-size: cover;
    background-position: center;

    &:before {
      background: #310078;
    }
  }

  &.stages--venus {
    background: url('../../assets/stages/bg-venus.jpg') no-repeat;
    background-size: cover;
    background-position: center;

    &:before {
      background: #390954;
    }
  }
}

.game-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 960px;
}

.command-bar {
  backface-visibility: hidden;
  bottom: 0;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
  width: 100%;
  padding: 10px 10px 20px;
  max-width: 960px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 375px) {
    padding: 15px 15px 20px;
  }

  @media (min-width: 768px) {
    padding: 20px 20px 30px;
  }
}

.command {
  background: #212226;
  box-shadow: 4px 4px 0 0 #212226;
  border-radius: 8px;
  border: 3px solid white;
  height: 50px;
  margin: auto 2px;
  position: relative;
  width: 50px;
  overflow: hidden;
  outline: none;

  @media (min-width: 375px) {
    height: 55px;
    width: 55px;
    margin: auto 4px;
  }

  @media (min-width: 414px) {
    margin: auto 6px;
  }

  @media (min-width: 768px) {
    height: 84px;
    margin: auto 8px;
    width: 84px;
    box-shadow: 6px 6px 0 0 #212226;
    border-radius: 8px;
    border: 4px solid white;
  }

  &__quantity {
    position: absolute;
    bottom: 0;
    right: 3px;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px #212226;
    transform: skew(10deg);

    & span {
      font-size: 14px;
    }
  }

  &__image {
    padding: 5px;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
      height: 100%;
      max-height: 35px;

      @media (min-width: 768px) {
        bottom: 20px;
        height: 100px;
        max-height: 50px;
      }
    }
  }

  &.command-battery {
    transform: skew(-10deg);
    background-color: #5BC582;

    & img {
      transform: skew(10deg);
    }

    &.is-active {
      border-color: #2EDBDE;
      background-color: #CA3589;
    }
  }

  &.command-food {
    transform: skew(-10deg);
    background-color: #FEA936;

    & img {
      transform: skew(10deg);
    }

    &.is-active {
      border-color: #2EDBDE;
      background-color: #CA3589;
    }
  }

  &.command-talk {
    background-color: #9187FF;
    margin: auto 10px;
    transform: scale(1.2);

    @media (min-width: 768px) {
      margin: auto 20px;
    }

    &.is-active {
      border-color: #2EDBDE;
      background-color: #CA3589;
    }
  }

  &.command-pets {
    background-color: #EE9BD0;
    transform: skew(10deg);

    & img {
      transform: skew(-10deg);
    }

    &.is-active {
      border-color: #2EDBDE;
      background-color: #CA3589;
    }
  }
  &.command-stage {
    background-color: #89C7F6;
    transform: skew(10deg);

    & img {
      transform: skew(-10deg);
    }

    &.is-active {
      border-color: #2EDBDE;
      background-color: #CA3589;
    }
  }

  &:active {
    border-color: #2EDBDE;
    background-color: #CA3589;
  }
}
