.stages {
  align-items: center;
  background-position: center top;
  background-size: 100% auto;
  background: url('../../assets/scenarios/bg-space-transparent.png') no-repeat;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100%;

  &:before {
    background: rgb(31,38,89);
    background: linear-gradient(222deg, rgba(31,38,89,1) 0%, rgba(20,31,54,1) 100%);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: lightcoral;
    top: 0;
    left: 0;
    z-index: -1;
  }
}