.status {
  align-items: center;
  backface-visibility: hidden;
  display: flex;
  height: auto;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 960px;

  @media (min-width: 769px) {
    padding: 20px;
  }

  &__group {
    display: flex;
    flex-direction: column;
  }

  &__icon {
    align-items: center;
    display: flex;
    height: 35px;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    width: 35px;
    z-index: 1;

    @media (min-width: 769px) {
      height: 50px;
      width: 50px;
    }

    & img {
      height: 100%;
    }
  }

  &__progress {
    background-color: #212226;
    border-radius: 8px;
    border: 2px solid white;
    box-shadow: 4px 4px 0 0 #212226;
    height: 20px;
    margin-left: 10px;
    overflow: hidden;
    width: calc(100% - 5px);
    transform: skew(20deg);

    @media (min-width: 769px) {
      border-radius: 8px;
      border: 4px solid white;
      box-shadow: 6px 6px 0 0 #212226;
      height: 35px;
      margin-left: 15px;
      width: calc(100% - 15px);
    }

    &__wrapper {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
    }

    &__bar {
      height: 100%;
      box-shadow: inset 1px 4px 0 rgba(255, 255, 255, 0.3);
      background-color: white;
      border: 2px solid #212226;
      position: absolute;
      left: 0;
      right: auto;
    }
  }

  &__item {
    align-items: center;
    display: flex;
    height: 35px;
    margin-bottom: 5px;
    position: relative;
    width: 140px;

    @media (min-width: 769px) {
      width: 300px;
      height: 50px;
      margin-bottom: 10px;
    }

    &.isLow {
      .status__progress {
        border-color: #CA3589;
      }
    }

    &.status__item--energy {
      .status__progress__bar {
        background-color: #5BC582;
      }
    }

    &.status__item--experience {
      .status__progress__bar {
        background-color: #9187FF;
      }
    }

    &.status__item--hungry {
      .status__progress__bar {
        background-color: #FEA936;
      }
    }

    &.status__item--happiness {
      .status__progress__bar {
        background-color: #EE9BD0;
      }
    }
  }

  &__group--right {
    .status__icon {
      left: auto;
      right: 0;
    }

    .status__progress {
      margin-left: auto;
      margin-right: 10px;
      transform: skew(-20deg);
    }
  
    .status__progress__bar {
      right: 0;
      left: auto;
    }
  }
}